.menu-container {
    background-color: #d6d6d6;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 1%;
    border: 2px solid black;
}

.prijs-container {
    display: flex;
}

.naam {
    font-size:200%;
    margin-bottom: 1%;
}

.omschrijving {
    font-size: 150%;
}

.prijs {
    font-size: 150%;
    margin-top: 1%;
}   